#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: black;
  color: rgb(231, 222, 222);
}

nav {
  margin-top: 19px;
}

.navbar a {
  padding: 0 30px;
}

.title {
  margin-top: 10px;
}

h2 {
  font-size: 16px;
  color: rgb(170, 157, 157);
}

.second_title {
  font-size: 20px;
  color: rgb(217, 124, 124);
  font-style: italic;
}

.pic_day {
  font-size: 10px;
  margin: 0;
}

.api_info {
  font-size: 10px;
  width: 300px;
  margin: 0 auto;
}

.api_img {
  width: 70%;
}

.api_img_rover {
  width: 70%;
}

.set_data {
  margin-top: 10px;
}

.current_date {
  margin-top: 15px;
  font-size: 15px;
}

.footer {
  margin-top: 15px;
  font-size: 9px;
}
