#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: black;
  color: rgb(231, 222, 222);
}

nav {
  margin-top: 19px;
}

.navbar a {
  padding: 0 30px;
}

.title {
  margin-top: 10px;
}

h2 {
  font-size: 16px;
  color: rgb(170, 157, 157);
}

.second_title {
  font-size: 20px;
  color: rgb(217, 124, 124);
  font-style: italic;
}

.pic_day {
  font-size: 15px;
  margin: 10px;
}

.api_info {
  font-size: 13px;
  width: 300px;
  margin: 0 auto;
}

.api_img {
  width: 70%;
}

.api_img_rover {
  width: 70%;
}

.set_data {
  margin-top: 10px;
}

.current_date {
  margin-top: 15px;
  font-size: 15px;
}

.footer {
  margin-top: 15px;
  font-size: 9px;
}

@media screen and (min-width: 800px) and (max-width: 2080px) {
  .div_content {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid grey;
    margin-top: 10px;
    width: 90%;
    transform: translate(4%);
  }

  .second_title {
    font-size: 20px;
    color: rgb(217, 124, 124);
    font-style: italic;
    padding: 10px;
  }

  .api_img {
    width: 50%;
  }

  .api_info {
    font-size: 12px;
    width: 300px;
    margin: 0 auto;
  }

  .api_img_rover {
    width: 50%;
  }
}
